#fmpicture {
    position: absolute;
    top: 70px;
    left: 315px;
}

#user {
    position: absolute;
    right: 480px;
}

#Eternal {
    position: absolute;
    right: 420px;
}

#xiala {
    position: absolute;
    right: 385px;
}

#xialakuang {
    position: absolute;
    top: 22px;
    right: 2px;
    width: 100px;
    height: 120px;
    z-index:20;
}

#xialakuang li {
    list-style-type: none;
    padding: 5px;
}

#xialakuang li a {
    text-decoration: none;
}

#userlan {
    position: absolute;
    right: 110px;
}

#userlan a {
    text-decoration: none;
}

.fontsize {
    font-size: 15px;
}

.hid {
    display: none;
}

.show {
    display: block;
}

.choosebgcolor {
    background-color: rgba(154, 174, 168, 0.498);
    width: 205px;
    height: 25px;
    padding: 7px;
    text-align: center;
    line-height: 25px;
    font-size: 13px;
}

.astyle {
    text-decoration: none;
}

#gundong {
    position: absolute;
    top: 145px;
    left: 265px;
    width: 265px;
    height: 390px;
    overflow: hidden;
}

#listul {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 400px;
    overflow-y: auto;
}

.listyle {
    list-style-type: none;
}

.hr1 {
    position: absolute;
    top: 206px;
    left: 100px;
    width: 155px;
}

.hr2 {
    position: absolute;
    top: 242px;
    left: 100px;
    width: 155px;
}

.hr3 {
    position: absolute;
    top: 577px;
    left: 100px;
    width: 155px;
}

#singerphoto {
    position: absolute;
    top: 105px;
    left: 620px;
    height: 245px;
    width: 250px;
}

#photoyinying {
    position: absolute;
    top: 105px;
    left: 620px;
    width: 250px;
    height: 245px;
    background: black;
    opacity: 0.7;
    filter: alpha(opacity=50);
    z-index: 10;
    display: none;
}

#chakan {
    position: absolute;
    top: 105px;
    left: 100px;
    color: black;
    font-size: 14px;
}

#chakan a {
    text-decoration: none;
}

#singer {
    position: absolute;
    top: 26px;
    left: 35px;
}

#bg {
    position: absolute;
    top: 105px;
    right: 220px;
    background-color: white;
    width: 260px;
    height: 245px;
}

#musicyinying {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 260px;
    height: 245px;
    background: white;
    opacity: 0.8;
    filter: alpha(opacity=50);
    z-index: 10;
    display: none;
}

#jixu {
    position: absolute;
    top: 105px;
    left: 100px;
    color: black;
    font-size: 14px;
}

#jixu a {
    text-decoration: none;
}

#play {
    position: absolute;
    top: 0px;
    right: 0px;
}

#jindutiao {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 210px;
    height: 1px;
    border: 1px solid gray;
    background-color: gainsboro;
}

#jindu {
    position: absolute;
    top: 110px;
    left: 30px;
    width: 210px;
    height: 1px;
    border: 1px solid gray;
    background-color: green;
}

#xihuan{
	position: absolute;
	top: 165px;
	left: 70px;
	font-size: 13px;
	width: 65px;
	height: 15px;
	display: none;
}

#cancel{
	position: absolute;
	top: 165px;
	left: 80px;
	font-size: 13px;
	width: 65px;
	height: 15px;
	display: none;
}
#heixin{
	position: absolute;
	top: 190px;
	left: 90px;
	width: 30px;
	height: 30px;
    display: block;
}
#huixin{
	position: absolute;
	top: 190px;
	left: 90px;
	width: 30px;
	height: 30px;
	display: none;
}

#redxin{
	position: absolute;
	top: 190px;
	left: 90px;
	width: 30px;
	height: 30px;
	display: none;
}
#buzai{
	position: absolute;
	top: 165px;
	left: 140px;
	font-size: 13px;
	width: 65px;
	height: 15px;
	display: none;
}
#shanchu{
	position: absolute;
	top: 190px;
	left: 155px;
	width: 30px;
	height: 30px;
    display: block;
}
#xiayishou{
	position: absolute;
	top: 165px;
	left: 210px;
	font-size: 13px;
	width: 65px;
	height: 15px;
	display: none;
}
#next{
	position: absolute;
	top: 190px;
	left: 215px;
	width: 30px;
	height: 30px;
    display: block;
}