#leftlan{
	position: absolute;
	top: 0px;
	/*left: -700px;*/
	left: 0px;
	background-color: white;
	z-index: 10;
	width: 700px;
	height: 800px;
    transition-duration: 2s;
    transition-property: left;
}

#zhankai{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 655px;
    width: 25px;
}

#shouqi{
    position: fixed;
    top: -1px;
    /*left: -25px;*/
    left: 675px;
    height: 655px;
    width: 25px;
    transition-duration: 2s;
    transition-property: left;
}

#diyi{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 675px;
	height: 173px;
}
#all{
	position: absolute;
	top: 65px;
	left: 55px;
	font-size: 35px;
}

#search{
   position: absolute;
   top: 70px;
   left: 395px;
   font-size: 15px;
   width: 245px;
   height: 25px;
}

#sphoto{
	position: absolute;
	top: 75px;
	left: 620px;
	width: 20px;
	height: 22px;
}

#daohang{
	position: absolute;
	top: 173px;
	left: 0px;
	width: 675px;
	height: 286px;
	background-color: #eff5f2;
}

#img1_6{
    position: absolute;
    top:5px;
    left: 0px;
    width: 290px;
    height: 275px; 
}

#nav1{
	position: absolute;
	top: 30px;
	left: 320px;
}

#imgxia{
	position: absolute;
	top: 45px;
	left: 0px;
}

#img1_shuoming{
	position: absolute;
	top: 100px;
	left: 0px;
	font-size: 13px;
	width: 330px;
	height: 100px;
}
#img2_shuoming{
	position: absolute;
	top: 100px;
	left: 0px;
	font-size: 13px;
	width: 330px;
	height: 100px;
}
#img3_shuoming{
	position: absolute;
	top: 100px;
	left: 0px;
	font-size: 13px;
	width: 330px;
	height: 100px;
}
#img4_shuoming{
	position: absolute;
	top: 100px;
	left: 0px;
	font-size: 13px;
	width: 330px;
	height: 100px;
}
#img5_shuoming{
	position: absolute;
	top: 100px;
	left: 0px;
	font-size: 13px;
	width: 330px;
	height: 100px;
}
#img6_shuoming{
	position: absolute;
	top: 100px;
	left: 0px;
	font-size: 13px;
	width: 330px;
	height: 100px;
}
